/* Start Global Components */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 15px;
  line-height: 1.86em;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #686868;
  box-shadow: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.btn-hover:hover {
  opacity: 0.8;
}
.section-pd {
  padding: 90px 0;
}
.section-bg {
  background-color: #f8f8f9;
}
/* End Global Components */
/* Start Header */
header {
  border-bottom: 1px solid #ffffff14;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header .container .header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
header .container .logo img {
  max-width: 100%;
  width: 150px;
  cursor: pointer;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li a {
  display: inline-block;
  padding: 10px 13px;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
}
/* End Header */
/* Start Home Section */
.home {
  height: 100vh;
  background-image: url(../images/business-main.jpg);
  background-size: cover;
}
.home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000021;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .home-content {
  text-align: center;
  width: 40%;
  transform: translateY(40px);
}
.home .home-content h1 {
  text-transform: capitalize;
  color: #fff;
  font-size: 70px;
  margin-bottom: 40px;
}
.home .home-content p {
  color: #fff;
  font-size: 21px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.home .home-content .links a {
  display: inline-block;
  padding: 12px 30px;
  margin: 0 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.4s;
}
.home .home-content .links a.active {
  background-color: #4274b7;
  color: #fff;
}
.home .home-content .links a.active:hover {
  background-color: #fff;
  color: #000;
}
.home .scroll-down {
  display: block;
  width: 30px;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 24px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}
.home .scroll-down span {
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(10px, 5px);
  animation-name: scroll-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroll-down {
  0% {
    transform: translate(10px, 2px);
  }
  100% {
    transform: translate(10px, 22px);
    opacity: 0;
  }
}
/* End Home Section */
/* Start About Section */
.about .container .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .container .about-content .about-item {
  width: 30%;
  margin-bottom: 55px;
  display: flex;
}
.about .container .about-content .about-item i {
  font-size: 25px;
  padding: 5px 15px 0 0;
}
.about .container .about-content .about-item h3 {
  text-transform: capitalize;
  color: #222;
  font-size: 16px;
  margin-bottom: 10px;
}
.about .container .about-content .about-item p {
  width: 322px;
}
/* End About Section */
/* Start Services Section*/
.services .container .services-content {
  display: flex;
}
.services .container .services-content .right-side,
.services .container .services-content .left-side {
  width: 50%;
  padding: 25px;
}
.services .container .services-content .left-side img {
  max-width: 100%;
}
.services .container .services-content .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* End Services Section*/
